<!DOCTYPE html>
<html lang="en">
<head>

    <title>MySecurityDashboard</title>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
    button.navbar-btn{
        margin-top:25px
      } 
    btn-scan{
        position:absolute;
        bottom:0
    }
    </style>

</head>
<body class="override">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MySecurityDashboard</a>
            </div>
           
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="/view_cameras">View Camera(s)</a></li>
                        <a class="btn btn-danger navbar-btn" href="{% url 'dashboard:logout' %}">Logout</a>

                     {% else %}
                        <li><a href= "{% url 'dashboard:registerView' %}">Register</a></li>
                        <a class="btn btn-success navbar-btn" href="{% url 'dashboard:user_login' %}">Login</a>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>
   
    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>
