{% extends "dashboard/base.html" %}

{% block content %}
<style>
    btn-scan{
        position:absolute;
        bottom:0
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Dashboard</h3>


            <div class="panel panel-default">
                <div class="panel-heading">Connected Cameras</div>
                <div class="panel-body">
                    <ul>
                    {% for streams in connectedStreams %}
                        <li>{{ streams }}</li>
                    {% endfor %}    
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Find/Add Cameras</div>
                <div class="panel-body">
                    <form action="{% url 'dashboard:scan' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="ip_addr">Base address: </label>
                                <input name="ip_addr" class="form-control" id="ip_addr" type="text" value="192.168.0.">
                            </div>

                            <div class="col-xs-2">
                                <label for="port_num">Port: </label>
                                <input name="port_num" class="form-control" id="port_num" type="text" value="8554">
                            </div>
                            <div class="col-xs-6">
                                <input name="scan" type="submit" value="Scan" class="btn btn-primary"/>
                            </div>
                        </div>
                    </form>
                    
                    <br>
                    <div class="well">Cameras Found:</div>
                    {% for camera in cameras %}
                        <form action="{% url 'dashboard:addCamera' %}" method="post">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <input name="stream_url" type="text" value="{{ camera }}", readonly>
                                    
                                </div >
                                <div class="col-xs-6">
                                    <input name="add" type="submit" value="Add" class="btn btn-primary">
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>


            
        </div>
    </div>
</div>
{% endblock %}
